<section class="sidenav">
    <div class="body">
      <div id="app">
        <div class="chat-area" *ngFor="let msg of servicesService.messages; let l=last;">
            <div class="{{ msg.senderType }}-msg" style="margin-left:0px;">
            <div *ngIf='msg.senderType == "bot"'>
                <h4><ion-icon class="fa-archway" name="jet"></ion-icon></h4>
            </div>
                <div class="msg">
                    <ion-spinner *ngIf="show && l" name="dots"></ion-spinner>
                    <p *ngIf="!show">{{msg.message}}</p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="footer">
        <textarea [(ngModel)]="message" type="text" class="footer-input" (keyup.enter)="btnFunction($event)" placeholder="Ask me something"></textarea>
        <button ion-button class="footer-btn" (click)="btnVal()"><ion-icon name="send"></ion-icon></button>
    </div>
</section>