.conversation {
    .image {
        // background: #9acd32;
        border-radius: 50%;
        // display: flex;
        // align-items: center;
        span {
            height: 56px;
            width: 56px;
            display: block;
            text-align: center;
            color: #fff;
            font-size: 14px;
            line-height: 4;

        }
    }
    .text-wrapper {
        display: flex;
        justify-content: space-between;
        h4 {
            font-size: 14px;
            font-weight: 400;
            margin: 0;
        }
        span {
            font-size: 11px;
            color: #6a7c8b;
            text-transform: lowercase;
        }
    }
    .chat-para {
        margin: 5px 0 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 300;
        color: #6a7c8b;
        max-width: 250px;
    }
}