.conversation {
    .image {
        border-radius: 50%;
        span {
            height: 40px;
            width: 40px;
            display: block;
            text-align: center;
            color: #fff;
            font-size: 14px;
            line-height: 3;

        }
    }
    .text-wrapper {
        display: flex;
        justify-content: space-between;
        h4 {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            letter-spacing: 1;
        }
        span {
            font-size: 14px;
            color: #6a7c8b;
            text-transform: lowercase;
        }
    }
    .chat-para {
        margin: 5px 0 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 300;
        color: #6a7c8b;
        max-width: 100%;
    }
}