.conversation {
    .image {
        
        background: #9acd32;
        border-radius: 50%;
        // display: flex;
        // align-items: center;
        span {
            height: 56px;
            width: 56px;
            display: block;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 4;

        }
    }
}