.profile-header {
    margin: 0px;
    padding: 0px 12px;
    img {
        width: 16%;
        height: 100%;
    }
    .hydrated {
        font-size: 24px;
    }
}

.profile-page {
    .image {
        border-radius: 50%;
        span {
            height: 40px;
            width: 40px;
            display: block;
            text-align: center;
            color: #fff;
            font-size: 14px;
            line-height: 3;

        }
    }
    .profile-title {
        h4 {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            letter-spacing: 0.5px;
        }
        span {
            font-size: 14px;
            font-weight: 400;
            color: #6a7c8b;
            text-transform: lowercase;
        }
    }
}

.button-view {
    cursor: pointer;
    visibility: visible;
}

.detail-sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    visibility: hidden;
    transition: 0.1s;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    .detail-close-btn {
        padding: 0px 20px;
        font-size: 24px;
    }
}

.lead-info {
    border-bottom: 1px solid #818181;
    .details {
        margin: 8px 0px;
    }
    .table {
        display: table;
        width: 60%;
        padding-left: 32px;
        .tr {
            display: table-row;
            .td {
                display: table-cell;
                text-transform: capitalize;
                padding-top: 8px;
                font-size: 14px;
                strong {
                    font-weight: 500;
                }
            }
        }
    }
    .heading {
        display: flex;
        .heading-text {
            vertical-align: middle;
            display: flex;
            h4 {
                padding-top: 4px;
                padding-left: 8px;
                margin: 0px;
                font-size: 14px;
                &:last-child {
                    padding-left: 0px;
                    position: absolute;
                    right: 16px;
                    text-align: right;
                    color: #0d5cc7;
                }
            }
        }
    }
}

.sidenav {
    height: 100%;
    width: 100%;
    a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        &:hover {
            color: #818181;
        }
    }
    .head {
        order: 1;
        padding: 8px;
        border-bottom: 1px solid #d6dbde;
    }
    h3 {
        margin: 0px;
        .fa-archway {
            font-size: 14px;
            color: #ffffff;
            padding: 10px;
            background: #0d5cc7;
            border-radius: 100%;
        }
    }
    span {
        position: absolute;
        top: 8px;
        right: 8px;
        ion-icon {
            padding: 8px;
            color: #505050;
        }
    }
    .body {
        overflow-y: scroll;
        display: flex;
        height: 100%;
        flex-flow: column nowrap;
        flex-direction: column-reverse;
        .chat-area {
            display: flex;
            flex-direction: column;
            .user-msg {
                display: flex;
                flex-direction: row-reverse;
                padding: 8px;
                position: relative;
                text-align: right;
                h4 {
                    margin-top: 4px;
                    margin-left: 4px;
                    margin-bottom: 0px; 
                }
                .msg {
                    letter-spacing: 0.5px;
                    background-color: #ffffff;
                    border: 1px solid #d6dbde;
                    color: #000000;
                    max-width: 256px;
                    min-height: 35px;
                    margin: 8px 0 0;
                    border-radius: 12px 0px 12px 12px;
                    box-sizing: border-box;
                    padding: 7px 14px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    word-break: break-word;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }
            }
            .bot-msg {
                display: flex;
                padding-right: 32px;
                margin-left: 32px;
                padding: 8px;
                flex-direction: column;
                flex-flow: row wrap;
                justify-content: flex-start;
                h4 {
                    margin-top: 4px;
                    margin-right: 4px;
                    margin-bottom: 0px; 
                }
                .msg {
                    letter-spacing: 0.5px;
                    max-width: 256px;
                    min-height: 35px;
                    margin: 8px 0 0;
                    border: 1px solid #89cec8;
                    border-radius: 0px 12px 12px;
                    box-sizing: border-box;
                    background-color: #b5e0dc;
                    padding: 7px 14px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    word-break: break-word;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }
            }
            .bot-agent-msg {
                padding: 8px;
                position: relative;
                text-align: center;
                .msg {
                    letter-spacing: 0.5px;
                    background-color: rgba(196, 202, 226, 1);
                    color: white;
                    border: 0px solid #89cec8;
                    max-width: 256px;
                    min-height: 35px;
                    font-size: 14px;
                    margin: 1px 0;
                    border-radius: 12px;
                    box-sizing: border-box;
                    padding: 7px 14px;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    word-break: break-word;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}

.closebtn, .fa-user-cog {
    cursor: pointer;
}

.sidenav .chat-area .msg p, .sidenav .chat-area .user-msg p, .sidenav .bot-agent-msg .msg p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    white-space: pre-wrap;
}

.sidenav .chat-area h4 .fa-archway {
    font-size: 11px;
    color: #ffffff;
    padding: 8px;
    background: #0d5cc7;
    border-radius: 100%;
}

.footer {
    order: 3;
    bottom: 0px;
    padding: 8px;
    margin: 0;
    width: 100%;
    border-top: 1px solid #e8e8eb;
    background: #ffffff;
    .footer-input {
        --padding-top: 0px;
        --padding-end: 0;
        --padding-bottom: 0px;
        --padding-start: 0px;
        margin: 0;
        box-sizing: border-box;
        height: 35px;
        resize: none;
        width: 88%;
        padding: 8px;
        font-size: 16px;
        border-radius: 6px;
        overflow: hidden;
        outline: none;
        background-color: #e8e8eb;
        border: 0;
        transition: background-color .2s ease;
        vertical-align: top;
    }
    .footer-btn {
        line-height: 32px;
        border-radius: 100%;
        transition: opacity .2s ease;
        border: 0;
        font-weight: 500;
        font-size: 24px;
        cursor: pointer;
        outline: none;
        transition: opacity .2s ease;
        background-color: #fff;
        color: #969ae3;
    }
    p {
        font-size: 12px;
        color: #6c6c6f;
        margin: 4px 0px;
        text-align: center;
        a {
            font-size: 12px;
            color: #6c6c6f;
            text-decoration: underline;
            display: inline;
        }
    }
}

.chatArea-header {
    display: flex;
    cursor: pointer;
    .chatArea-bot {
        border: 1px solid #f0f0f0;
        border-radius: 20px 0px 0px 20px;
    }
    .chatArea-agent {
        border: 1px solid #f0f0f0;
        border-radius: 0px 20px 20px 0px;
    }
    .active {
        background: #4abb42;
        color: #ffffff;
        cursor: none;
        touch-action: none;
        pointer-events: none;
    }
    p {
        text-transform: capitalize;
        margin-block-start: 0;
        margin-bottom: 0;
        padding: 4px 8px;
        font-size: 12px;
    }
}

#map {
    height: 25%;
    width: 100%;
}