<ion-header id="addIndex" class="profile-page">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="conversationPage()">
      <ion-item lines="none">
        <ion-icon name="arrow-round-back" style="padding-right: 8px;"></ion-icon>
        <ion-avatar lines="none">
          <div class="image" [ngStyle]="{'backgroundColor': dataValue.color}">
            <span class="ion-text-uppercase">{{ dataValue.name | slice:0:1 }}</span>
          </div>
        </ion-avatar>
      </ion-item>
    </ion-buttons>
    <ion-title class="ion-no-padding profile-title">
      <h4 class="ion-text-capitalize">{{ dataValue.name }}</h4>
      <span>Last seen: {{ dataValue.time }}</span>
    </ion-title>
    <ion-text slot="end">
      <div class="chatArea-header">
        <ng-container *ngFor="let c of colorList">
          <div class="chatArea-{{c.name}}" [ngClass]="{'active': c.active}" (click)="botAgentval(c)">
            <p>{{c.name}}</p>
          </div>
        </ng-container>
      </div>
    </ion-text>
    <ion-buttons class="profile-header button-view" slot="end" (click)="openNav()">
      <ion-icon name="information-circle-outline"></ion-icon>
      <!-- <img src="assets/image/icon/user-info-1.svg"> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="addIndex-1" style="--background:#f0f0f0">
  <section class="sidenav">
    <div class="body">
        <div id="app">
            <div class="chat-area">
                <ng-container *ngFor="let msg of servicesService.messages; let l=last;">
                    <ng-container *ngIf="msg.charRoomID == id">
                        <div class="{{ msg.senderType }}-msg" style="margin-left:0px;">
                            <ng-container *ngIf='msg.senderType == "bot"'>
                                <!-- <h4><ion-icon class="fa-archway" name="jet"></ion-icon></h4> -->
                                <h4><img class="fa-archway" src="assets/image/chat-icon/user_placeholder.jpg" height="25" width="25"></h4>
                            </ng-container>
                            <ng-container *ngIf='msg.senderType == "user"'>
                                <!-- <h4><ion-icon class="fa-archway" name="jet"></ion-icon></h4> -->
                                <h4><img src="assets/image/chat-icon/a{{ msg.charRoomID }}.png" height="25" width="25"></h4>
                            </ng-container>
                            <div class="chat-area-msg">
                              <div class="msg">
                                  <ng-container *ngIf="show && l"><ion-spinner name="dots"></ion-spinner></ng-container>
                                  <p>{{msg.message}}</p>
                              </div>
                              <ng-container *ngIf='msg.name != "botAgent"'>
                                <div class="msg-info">{{ msg.name }} {{ msg.dateTime }}</div>
                              </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
  </section>
</ion-content>

<ion-footer id="addFooter">
  <ng-container *ngIf="botAgent">
    <div class="footer">
        <textarea [(ngModel)]="message" type="text" class="footer-input" (keyup.enter)="btnFunction($event)" placeholder="Ask me something"></textarea>
        <button ion-button class="footer-btn" (click)="btnVal()"><ion-icon name="send"></ion-icon></button>
    </div>
  </ng-container>
</ion-footer>

<section id="mySidenav" class="detail-sidenav">
  <ion-header>
    <ion-toolbar>
      <ion-title>LEAD INFO</ion-title>
      <ion-buttons slot="end" (click)="closeNav()" class="detail-close-btn">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <section class="lead-info">
      <div class="details">
        <div class="heading">
          <img slot="start" src="assets/image/icon/user-info.svg" height="24" width="24">
          <div class="heading-text">
            <h4>CUSTOMER DETAILS</h4>
            <h4>MORE</h4>
          </div>
        </div>
        <div class="table">
          <div class="tr">
            <div class="td">
              <strong>Name</strong>
            </div>
            <div class="td">
              {{ dataValue.name }}
            </div>
          </div>
          <div class="tr">
            <div class="td">
              <strong>Channel</strong>
            </div>
            <div class="td">
              Web
            </div>
          </div>
          <div class="tr">
            <div class="td">
              <strong>Location</strong>
            </div>
            <div class="td">
              {{locationAddress}}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="lead-info" style="border-bottom: 0px;">
      <div class="details">
        <div class="heading">
          <img slot="start" src="assets/image/icon/Location.svg" height="24" width="24">
          <div class="heading-text">
            <h4>GEO INFORMATION</h4>
            <h4>MORE</h4>
          </div>
        </div>
      </div>
    </section>
    <div id="map"></div>
  </ion-content>
</section>