.profile-header {
    margin: 0px;
    padding: 0px 12px;
    img {
        width: 16%;
        height: 100%;
    }
    .hydrated {
        font-size: 24px;
    }
}

.profile-page {
    .image {
        border-radius: 50%;
        span {
            height: 40px;
            width: 40px;
            display: block;
            text-align: center;
            color: #fff;
            font-size: 14px;
            line-height: 3;

        }
    }
    .profile-title {
        h4 {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            letter-spacing: 0.5px;
        }
        span {
            font-size: 14px;
            font-weight: 400;
            color: #6a7c8b;
            text-transform: lowercase;
        }
    }
}

.button-view {
    cursor: pointer;
    visibility: visible;
}

.detail-sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    visibility: hidden;
    transition: 0.1s;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    .detail-close-btn {
        padding: 0px 20px;
        font-size: 24px;
    }
}

.sidenav {
    height: 100%;
    width: 100%;
}
  
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
.sidenav a:hover {
    color: #818181;
}
  
.sidenav .closebtn {
    cursor: pointer;
}

.sidenav .head {
    order: 1;
    padding: 8px;
    border-bottom: 1px solid #e8e8eb;
}

.sidenav h3{
    margin: 0px;
}

.sidenav span {
    position: absolute;
    top: 8px;
    right: 8px;
}

.sidenav span ion-icon {
    padding: 8px;
    color: #505050;
}

.sidenav h3 .fa-archway {
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
    background: #0d5cc7;
    border-radius: 100%;
}

.sidenav .fa-user-cog {
    cursor: pointer;
}

.sidenav .body {
    overflow-y: scroll;
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    flex-direction: column-reverse;
}

.sidenav .body .chat-area {
    display: flex;
    flex-direction: column;
}

.sidenav .chat-area .bot-msg {
    display: flex;
    padding-right: 32px;
    margin-left: 32px;
    padding: 8px 8px 18px;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.sidenav .chat-area .msg {
    letter-spacing: 0.5px;
    max-width: 256px;
    min-height: 35px;
    margin: 8px 0 0;
    border: 1px solid #89cec8;
    border-radius: 0px 12px 12px;
    box-sizing: border-box;
    background-color: #b5e0dc;
    padding: 7px 14px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.sidenav .chat-area .bot-agent-msg {
    padding: 8px;
    position: relative;
    text-align: center;
}

.sidenav .bot-agent-msg .msg {
    letter-spacing: 0.5px;
    background-color: rgba(196, 202, 226, 1);
    color: white;
    border: 0px solid #89cec8;
    max-width: 256px;
    min-height: 35px;
    font-size: 14px;
    margin: 1px 0;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 7px 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.sidenav .chat-area .msg p, .sidenav .chat-area .user-msg p, .sidenav .bot-agent-msg .msg p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    white-space: pre-wrap;
}

.sidenav .chat-area .bot-msg h4 {
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 0px; 
}

.sidenav .chat-area .user-msg {
    display: flex;
    flex-direction: row-reverse;
    padding: 8px 8px 18px;
    position: relative;
    text-align: right;
}

.sidenav .chat-area .user-msg h4 {
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 0px; 
}

.sidenav .user-msg .msg {
    letter-spacing: 0.5px;
    background-color: #ffffff;
    border: 1px solid #d6dbde;
    color: #000000;
    max-width: 256px;
    min-height: 35px;
    margin: 8px 0 0;
    border-radius: 12px 0px 12px 12px;
    box-sizing: border-box;
    padding: 7px 14px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.sidenav .chat-area h4 .fa-archway {
    font-size: 11px;
    color: #ffffff;
    padding: 8px;
    background: #0d5cc7;
    border-radius: 100%;
}

.footer {
    order: 3;
    bottom: 0px;
    padding: 8px;
    margin: 0;
    width: 100%;
    border-top: 1px solid #e8e8eb;
    background: #ffffff;
    .footer-input {
        --padding-top: 0px;
        --padding-end: 0;
        --padding-bottom: 0px;
        --padding-start: 0px;
        margin: 0;
        box-sizing: border-box;
        height: 35px;
        resize: none;
        width: 88%;
        padding: 8px;
        font-size: 16px;
        border-radius: 6px;
        overflow: hidden;
        outline: none;
        background-color: #e8e8eb;
        border: 0;
        transition: background-color .2s ease;
        vertical-align: top;
    }
    .footer-btn {
        line-height: 32px;
        border-radius: 100%;
        transition: opacity .2s ease;
        border: 0;
        font-weight: 500;
        font-size: 24px;
        cursor: pointer;
        outline: none;
        transition: opacity .2s ease;
        background-color: #fff;
        color: #969ae3;
    }
    p {
        font-size: 12px;
        color: #6c6c6f;
        margin: 4px 0px;
        text-align: center;
        a {
            font-size: 12px;
            color: #6c6c6f;
            text-decoration: underline;
            display: inline;
        }
    }
}

.chatArea-header {
    display: flex;
    cursor: pointer;
    .chatArea-bot {
        border: 1px solid #505050;
        border-radius: 20px 0px 0px 20px;
    }
    .chatArea-agent {
        border: 1px solid #505050;
        border-radius: 0px 20px 20px 0px;
    }
    .active {
        background: #4abb42;
        color: #ffffff;
        cursor: none;
        touch-action: none;
        pointer-events: none;
    }
    p {
        text-transform: capitalize;
        margin-block-start: 0;
        margin-bottom: 0;
        padding: 4px 8px;
        font-size: 12px;
    }
}

#map {
    height: 25%;
    width: 100%;
}