<ion-header id="addIndex" class="profile-page">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="conversationPage()">
      <ion-item lines="none">
        <ion-icon name="arrow-round-back" style="padding-right: 8px;"></ion-icon>
        <ion-avatar lines="none">
          <div class="image" [ngStyle]="{'backgroundColor': dataValue.color}">
            <span class="ion-text-uppercase">{{ dataValue.name | slice:0:1 }}</span>
          </div>
        </ion-avatar>
      </ion-item>
    </ion-buttons>
    <ion-title class="ion-no-padding profile-title">
      <h4 class="ion-text-capitalize">{{ dataValue.name }}</h4>
      <span>Last seen: {{ dataValue.time }}</span>
    </ion-title>
    <ion-text slot="end">
      <div class="chatArea-header">
        <ng-container *ngFor="let c of colorList">
          <div class="chatArea-{{c.name}}" [ngClass]="{'active': c.active}" (click)="botAgentval(c)">
            <p>{{c.name}}</p>
          </div>
        </ng-container>
      </div>
    </ion-text>
    <ion-buttons class="profile-header button-view" slot="end" (click)="openNav()">
      <ion-icon name="information-circle-outline"></ion-icon>
      <!-- <img src="assets/image/icon/user-info-1.svg"> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="addIndex-1" style="--background:#f0f0f0">
  <section class="sidenav">
    <div class="body">
        <div id="app">
            <div class="chat-area">
                <ng-container *ngFor="let msg of servicesService.messages; let l=last;">
                    <ng-container *ngIf="msg.charRoomID == id">
                        <div class="{{ msg.senderType }}-msg" style="margin-left:0px;">
                            <ng-container *ngIf='msg.senderType == "bot"'>
                                <h4><ion-icon class="fa-archway" name="jet"></ion-icon></h4>
                            </ng-container>
                            <ng-container *ngIf='msg.senderType == "user"'>
                                <!-- <h4><ion-icon class="fa-archway" name="jet"></ion-icon></h4> -->
                                <h4><img src="assets/image/chat-icon/a{{ msg.charRoomID }}.png" height="25" width="25"></h4>
                            </ng-container>
                            <div class="msg">
                                <ng-container *ngIf="show && l"><ion-spinner name="dots"></ion-spinner></ng-container>
                                <p>{{msg.message}}</p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
  </section>
</ion-content>

<ion-footer id="addFooter">
  <ng-container *ngIf="botAgent">
    <div class="footer">
        <textarea [(ngModel)]="message" type="text" class="footer-input" (keyup.enter)="btnFunction($event)" placeholder="Ask me something"></textarea>
        <button ion-button class="footer-btn" (click)="btnVal()"><ion-icon name="send"></ion-icon></button>
    </div>
  </ng-container>
</ion-footer>

<section id="mySidenav" class="detail-sidenav">
  <ion-header>
    <ion-toolbar>
      <ion-title>LEAD INFO</ion-title>
      <ion-buttons slot="end" (click)="closeNav()" class="detail-close-btn">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <div class="details">
      <p><strong>Name:</strong> {{ dataValue.name }}</p>
      <p><strong>Email:</strong> {{ dataValue.name }}@gmail.com</p>
      <p><strong>Channel:</strong> Web</p>
      <p><strong>Location:</strong> {{locationAddress}}</p>
    </div>
    <div id="map"></div>
  </ion-content>
</section>