<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ dataValue.name }}</ion-title>
    <ion-text slot="end">
      <div class="chatArea-header">
        <ng-container *ngFor="let c of colorList">
          <div class="chatArea-{{c.name}}" [ngClass]="{'active': c.active}" (click)="botAgentval(c)">
            <p>{{c.name}}</p>
          </div>
        </ng-container>
      </div>
    </ion-text>
    <ion-buttons class="profile-header" slot="end">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="sidenav">
    <div class="body">
        <div id="app">
            <div class="chat-area">
                <ng-container *ngFor="let msg of servicesService.messages; let l=last;">
                    <ng-container *ngIf="msg.charRoomID == id">
                        <div class="{{ msg.senderType }}-msg" style="margin-left:0px;">
                            <ng-container *ngIf='msg.senderType == "bot"'>
                                <h4><ion-icon class="fa-archway" name="jet"></ion-icon></h4>
                            </ng-container>
                            <div class="msg">
                                <ng-container *ngIf="show && l"><ion-spinner name="dots"></ion-spinner></ng-container>
                                <p>{{msg.message}}</p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
    <!-- <div id="map"></div> -->
    <ng-container *ngIf="botAgent">
      <div class="footer">
          <textarea [(ngModel)]="message" type="text" class="footer-input" (keyup.enter)="btnFunction($event)" placeholder="Ask me something"></textarea>
          <button ion-button class="footer-btn" (click)="btnVal()"><ion-icon name="send"></ion-icon></button>
      </div>
    </ng-container>
  </section>
</ion-content>
