<ion-col size="12" size-sm>
<div *ngFor="let card of servicesService.cardValue">
  <ion-card>
    <ion-item lines="full">
      <ion-text fill="outline" slot="start">{{ card.name }}</ion-text>
      <ion-icon name="refresh" slot="end" routerLink="/conversation" routerDirection="forward"></ion-icon>
    </ion-item>

    <ion-card-content>
      <ion-row class="ion-text-center">
        <ion-col size="6" *ngFor="let cards of card.value">
          <div class="ion-padding">
            <h2>{{ cards.val1 }}</h2>
            <p>{{ cards.val2 }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
